Temp/
Temp/UnityLockfile
Library/Artifacts/*

Library/Artifacts/81/8159c0bfddaaa824e119f47dd75f9c91
Library/Artifacts/e1/e102093668370810601f74a5d920bfb4
Library/StateCache/SceneView/6d7d21-mainStage.json
Library/Artifacts/00/00c05cbb420d6693c509aa220069a3e1
Library/ArtifactDB
Library/ArtifactDB
